<div class="container">
  <h3 mat-dialog-title>Contact Info</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

<!--    <div class="form">-->
<!--      <mat-form-field color="accent">-->
<!--        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >-->
<!--        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>-->
<!--      </mat-form-field>-->
<!--    </div>-->

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="First Name" [(ngModel)]="data.firstName" name="FirstName" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Last Name" [(ngModel)]="data.lastName" name="LastName" maxlength="10" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput placeholder="Email" [(ngModel)]="data.email" name="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
          <mat-error *ngIf="formControl.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Mobile No" [(ngModel)]="data.mobileNo" name="mobileNo" required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
